.container {
    margin-top: 32px;
}

.container__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.container__body_notFound {
    display: block;
}

@media (max-width: 992px) {
    .container__body {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .container__body {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 568px) {
    .container__body {
        grid-template-columns: repeat(1, 1fr);
    }
}