.profile {
  flex: 0 1 100%;
}

.profile__title {
  font-size: 25px;
  font-weight: 500;
  color: #1e1e1e;
}

.profile__body {
  margin-top: 32px;
}

.profile__element {
  margin-top: 16px;

  &:first-child {
    margin-top: 0px;
  }

}

.profile__element_notVisible {
  display: none;
}

.profile__head {
  color: var(--gray);
}
.profile__description {
  font-size: 20px;
  margin-top: 6px;
}


@media (max-width: 768px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile__body {
    width: 100%;
    max-width: 400px;
  }
}


@media (max-width: 568px) {
  .profile__description {
    font-size: 18px;
  }
}
