.profiles {
    margin-top: 100px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .profiles {
        flex-direction: column;
        gap: 60px;
    }
}