.sheet__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media (max-width: 768px) {
  .sheet__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 568px) {
    .sheet__cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
