.burger {
    width: 24px;
    height: 20px;
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: var(--white-100);
    transition: .3s;
}

.line1 {
    transform-origin: top right;
    top: 0;
}

.line2 {
    top: 9px;
}

.line3 {
    transform-origin: top right;
    bottom: 0;
}

.burger_active {
    
    .line1 {
        transform: rotate(-45deg);
        top: 1px;
    }
    .line2 {
        transform: scale(0);
    }

    .line3 {
        transform: rotate(45deg);
        left: 1px;
    }
}